/* # Display */
.box
    display flex
    display -webkit-box

// horisontal
.bpc
    box-pack center
    -webkit-box-pack center
.bps
    box-pack start
    -webkit-box-pack start
.bpe
    box-pack end
    -webkit-box-pack end
.bpj
    box-pack justify
    -webkit-box-pack justify
    -webkit-box-pack justify

 // vertical
.bac
    box-align center
    -webkit-box-align center
.bas
    box-align start
    -webkit-box-align start
.bae
    box-align end
    -webkit-box-align end
.bas
    box-align stretch
    -webkit-box-align stretch

.bfj
    box-flex 1
    -webkit-box-flex 1