/* # Layout */
@charset "UTF-8";


/* ## position */
.abs
    position absolute
.rel
    position relative

/* ## margin */
.ms
    margin $space-s
.mm
    margin $space-m
.ml
    margin $space-l

.mts
    margin-top $space-s
.mtm
    margin-top $space-m
.mtl
    margin-top $space-l

.mbs
    margin-bottom $space-s
.mbm
    margin-bottom $space-m
.mbl
    margin-bottom $space-l

.mrs
    margin-right $space-s
.mrm
    margin-right $space-m
.mrl
    margin-right $space-l

.mls
    margin-left $space-s
.mlm
    margin-left $space-m
.mll
    margin-left $space-l


/* ## padding */
.ps
    padding $space-s
.pm
    padding $space-m
.pl
    padding $space-l

.pts
    padding-top $space-s
.ptm
    padding-top $space-m
.ptl
    padding-top $space-l

.pbs
    padding-bottom $space-s
.pbm
    padding-bottom $space-m
.pbl
    padding-bottom $space-l

.prs
    padding-right $space-s
.prm
    padding-right $space-m
.prl
    padding-right $space-l

.pls
    padding-left $space-s
.plm
    padding-left $space-m
.pll
    padding-left $space-l


/* ## Text Align */
.tac
    text-align center
.tal
    text-align left
.tar
    text-align right