/* # Typography */

/* ## Color */
.fc-warning
    color $yellow
.fc-danger
    color $red
.fc-link
    color $blue
.fc-info
    color $gray

/* ## Size */
.fzs
    font-size $font-size-s
.fzm
    font-size $font-size-m
.fzl
    font-size $font-size-l