/* # Typography */

/* ## Color */
.fc-warning
    color $yellow
.fc-danger
    color $red
.fc-primary
    color $blue
.fc-info
    color $gray

/* ## Size */
.fss
    font-size $font-size-s
.fsm
    font-size $font-size-m
.fsl
    font-size $font-size-l