@charset "UTF-8"

.header
    position absolute
    top 0
    left 0
    width 320px
    height 45px
    padding 8px
    background-color #33636d
    border 1px #9eeeeb solid
    border-top none
    border-radius 0 0 8px 8px
    box-shadow 0 1px 1px rgba(0,0,0,.4)
    box-sizing border-box

.header_status
    height 12px
    color #fff
    font-size 10px
    line-height 12px

.header_status_name
    width 48px
    margin-right 8px

.header_status_val
    width 58px
    margin-right 8px

.header_status_gauge
    width 180px
    height 12px
    background-color #193f4a
    box-sizing border-box
    border-radius 2px
    overflow hidden

.header_status_gauge_bar
    height 12px
    background-color #9eeeeb