@charset "UTF-8"

.header
    position absolute
    top 0
    left 0
    display flex
    width 320px
    height 45px
    background-color #33636d
    border 1px #9eeeeb solid
    border-top none
    border-radius 0 0 8px 8px
    box-shadow 0 1px 1px rgba(0,0,0,.4)
    box-sizing border-box

.header_info
    width 140px
    height 32px
    margin 5px 6px 7px
    padding 8px
    background-color #193f4a
    border-radius 8px
    box-sizing border-box

.header_status
    margin-top 5px

.header_status_stamina,
.header_status_exp
    color #fff
    font-size 10px
    margin-bottom 4px