@import '../core/header/style'

.menuBtn
    position absolute
    bottom 0
    right 0
    width 48px
    height 48px
    background-color #33636d
    border 1px #9eeeeb solid
    border-right none
    border-bottom none
    border-radius 8px 0 0 0
    color #193f4a
    font-size 12px
    line-height 48px
    text-align center


.minimap
    position absolute
    bottom 0
    left 0
    width 84px
    height 96px
    background-color #33636d
    border 1px #9eeeeb solid
    border-left none
    border-bottom none
    border-radius 0 8px 0 0
    color #193f4a
    font-size 12px
    text-align center
