/*
# Header
*/
@charset "UTF-8"

.app-header
    position absolute
    top 0px
    left 0px
    width 320px
    height 45px
    color #fff
    background-color rgba(0,0,0,0.5)
    text-align center
    border-radius 0 0 10px 10px
    