/*
# Header
*/
@charset "UTF-8"

.app-header
    position absolute
    top 0px
    left 0px
    width 320px
    height 45px
    padding 8px
    box-sizing border-box
    background-color rgba(0,0,0,0.5)
    border-radius 0 0 10px 10px
    box-shadow 0 1px 1px rgba(0,0,0,0.4)
    color $white

.app-header__status
    height 12px
    color $white
    font-size 10px
    line-height 12px

.app-header__status__gauge
    width 180px
    height 12px
    background-color $beige-deep
    box-sizing border-box
    border-radius 2px
    overflow hidden

.app-header__status__gauge__bar
    height 12px
    background-color $beige-lighter