/* # Modal */
.modal
    position absolute
    top 10px
    left 8px
    width 304px
    box-sizing border-box
    border-radius 10px
    background-color $beige-lighter
    box-shadow 0px 4px 6px $shadow-color
    
.modal__header
    height 24px
    padding $space-m
    background-color $beige-deep
    border-radius 8px 8px 0 0
    border 2px solid $beige-lighter
    font-size $font-size-l
    line-height 24px
    text-align center