/* # Modal */
.app-modal
    position absolute
    top 0
    left 10px
    margin 10px auto 0
    width 300px
    height 320px
    border-radius 10px
    background-color #FFF
    box-sizing border-box
    padding 10px
    
.app-modal-title
    font-size 14px
    text-align center