/* # Panel */
@charset "UTF-8"

.panel 
    box-sizing border-box
    border-radius 8px
    border 1px solid $brown

.panel--invert
    background-color $beige-deep
    border none
    color $white

.panel--dashed 
    border 1px dashed $beige-deep

.panel__header
    height 24px
    margin-bottom 2px
    background-color $beige
    margin 2px 2px 0 2px
    border-radius 8px 8px 0 0
    font-size $font-size-l
    line-height 24px
    text-align center
