/* # Segment */
@charset "UTF-8"

.segment
    @extend .box
    @extend .bpc
    width 304px
    .segment__item:first-child
        border-radius 8px 0 0 8px
    .segment__item:last-child
        border-radius 0 8px 8px 0
        border-right 1px $brown-deep solid


 // ２つのとき
.segment--col2
    .segment__item
        width 152px

 // ３つのとき
.segment--col3
    .segment__item
        &:nth-child(odd)
            width 101px
        &:nth-child(even)
            width 100px

 // 4つのとき
.segment--col4
    .segment__item
        width  76px 


.segment__item
    box-sizing border-box
    height 24px
    border-top 1px $brown-deep solid
    border-bottom 1px $brown-deep solid
    border-left 1px $brown-deep solid
    line-height 22px
    text-align center

    // 選択している状態
    &.is-selected
        color $white
        background-color $blue
