/* # Title */
@charset "UTF-8"

.title
    $h = 28px
    height $h
    box-sizing border-box
    padding 0px 8px
    background-color $beige-deep
    box-shadow 0 2px 0 $brown-deep inset, 0 -2px 0 $brown-deep inset
    line-height $h
    text-align center

.title--lg
    $h = 32px
    position relative
    height $h
    border-radius none
    box-shadow 0 1px 0 $brown-deep inset, 0 4px 0 $beige-lighter inset,0 -1px 0 $brown-deep inset, 0 -4px 0 $beige-lighter inset
    font-size $font-size-l
    line-height $h

.title--sm
    $h = 16px
    height $h
    border-radius 8px
    margin-left $space-m
    margin-right $space-m
    background-color $brown-deep
    color $white
    font-size $font-size-s
    line-height $h



