/* # Layout */
@charset "UTF-8";


/* ## position */
.abs
    position absolute
.rel
    position relative


/* ## margin */
.ms
    margin $spaceSizeS !important
.mm
    margin $spaceSizeM !important
.ml
    margin $spaceSizeL !important

.mts
    margin-top $spaceSizeS !important
.mtm
    margin-top $spaceSizeM !important
.mtl
    margin-top $spaceSizeL !important

.mbs
    margin-bottom $spaceSizeS !important
.mbm
    margin-bottom $spaceSizeM !important
.mbl
    margin-bottom $spaceSizeL !important

.mrs
    margin-right $spaceSizeS !important
.mrm
    margin-right $spaceSizeM !important
.mrl
    margin-right $spaceSizeL !important

.mls
    margin-left $spaceSizeS !important
.mlm
    margin-left $spaceSizeM !important
.mll
    margin-left $spaceSizeL !important


/* ## padding */
.ps
    padding $spaceSizeS !important
.pm
    padding $spaceSizeM !important
.pl
    padding $spaceSizeL !important

.pts
    padding-top $spaceSizeS !important
.ptm
    padding-top $spaceSizeM !important
.ptl
    padding-top $spaceSizeL !important

.pbs
    padding-bottom $spaceSizeS !important
.pbm
    padding-bottom $spaceSizeM !important
.pbl
    padding-bottom $spaceSizeL !important

.prs
    padding-right $spaceSizeS !important
.prm
    padding-right $spaceSizeM !important
.prl
    padding-right $spaceSizeL !important

.pls
    padding-left $spaceSizeS !important
.plm
    padding-left $spaceSizeM !important
.pll
    padding-left $spaceSizeL !important


/* ## Text Align */
.tac
    text-align center
.tal
    text-align left
.tar
    text-align right