// Animation

// フェードイン・アウト
.anim-fade-transition
    transition all 0.5s ease

.anim-fade-enter,
.anim-fade-leave
    opacity 0

// モーダル
.anim-modal-transition
    transition all 0.4s ease-out

.anim-modal-enter,
.anim-modal-leave
    opacity 0
    transform translate(0px, -40px)

