/*
# Base Style
*/
@charset "UTF-8"

body
    background-color $brown-deep
    color $brown
    font-weight bold
    font-family Helvetica Arial
    word-wrap break-word
    overflow-wrap break-word

a
    text-decoration none

img
    border none
    vertical-align text-bottom

.container
    position relative
    width 320px
    margin 0 auto
    background-color $beige-deep