/*
# Base Style
*/
@charset "UTF-8"

body
    background-color $brown-deep
    color $brown
    font-size $font-size-m
    font-weight bold
    font-family Helvetica Arial
    word-wrap break-word
    overflow-wrap break-word

a
    text-decoration none

img
    border none
    vertical-align text-bottom


.container
    position relative
    width 320px
    margin 0 auto
    background-color $beige-deep

.app-content
    height 460px
    padding-top 40px

.full-screen
    position absolute
    top 0
    left 0
    width 100%
    height 100%