/* # Config */

/* ## Color */
/* ### GrayScale */
$white      = #fff
$gray-light = #ccc
$gray       = #999
$black      = #333

/* ### Brown */
$brown-deep  = #5f4823
$brown      = #755b36
$brown-light = #947a4e

/* ### Beige */
$beige-deep      = #c4bca3
$beige          = #e2dfce
$beige-light     = #eeeedd
$beige-lighter   =  #fffcee

/* ### Ivory */
$ivory-deep  = #dee0b0
$ivory       = #f4f0cf
$ivory-light = #fcf9eb

$red    = #ff7777
$yellow = #ffbd59
$blue   = #46c4dc



/* ## Space */
$space-s = 4px
$space-m = 8px
$space-l = 16px




/* ## Typography */
$font-size-s = 10px;
$font-size-m = 12px;
$font-size-l = 14px;


/* ## placeholder */
$full-screen
    position absolute
    top 0
    left 0
    width 100%
    height 100%